numpy<2
pandas==2.2.3
scikit-learn==1.5.2
torch==2.5.1
transformers==4.46.3
accelerate==1.1.1
datasets==3.1.0
sentencepiece==0.2.0
sentence-transformers==3.3.1
faiss-cpu==1.9.0.post1
langdetect==1.0.9
matplotlib==3.9.2
tqdm==4.66.5
pyarrow==18.1.0
pytest==8.3.3
